.Landing {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 24%;
  right: 8%;
  width: 760px;
  height: 550px;
  color: white;
  background-color: rgba(0, 0, 0, 0.315);
  padding: 100px 0;
  border-radius: 60%;
}

.Landing h3 {
  font-size: 2em;
  text-align: center;
  padding: 0 30px;
}

.Landing ol {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.3em;
  list-style-position: inside;
}

.Landing ol li {
  padding: 0;
}

.Landing button {
  margin-top: 100px;
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-color: white;
  font-size: 1.2em;
}

.Landing button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.219);
}

@media (max-width: 1600px) {
  .Landing {
    position: static;
    width: 90%;
    margin: 10% auto;
  }
}

@media (max-width: 1600px) {
    .Landing {
      border-radius: 0;
    }
  }
