.NavigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28, 28, 36);
  background-color: rgba(28, 28, 36, 0.596);
  border-bottom: 2px solid black;

  width: 100%;
  height: 85px;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}
