.Play {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 30px auto;
  padding: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.432);
  color: white;
}


h4 {
  font-size: 3em;
  margin: 0;
}

.Play .Input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.Play .Input input {
  width: 500px;
  height: 60px;

  border-radius: 30px;
  border: none;
  font-size: 2em;
  text-align: center;
}

.Play .Input input:focus {
  outline: none;
}
