Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.384);
    padding: 2rem;
    height: 88vh;
}

h1 {
  margin: 0;
  font-size: 4rem;
  color: aliceblue;
}

p {
  font-size: 2rem;
  color: white;
}

p span {
  color: balck;
}
