.SideDrawerToggle {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.SideDrawerToggle:hover {
  cursor: pointer;
}

@media (min-width: 769px) {
  .SideDrawerToggle{
      display: none;
  }
}
