.WordCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.WordCard .Word {
  width: 70%;
  font-size: 5em;
  text-align: center;
  border-right: 1px solid white;
}

.WordCard .CountDown {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.WordCard .CountDown h2 {
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.WordCard .CountDown h3 {
  font-size: 5em;
}
