.NavigationItems {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 400px;
  list-style-type: none;
  padding: 0;
}

@media (max-width: 768px) {
    .NavigationItems{
        margin-top: 20px;
        flex-flow: column;
        width: 100%;
        height: auto;
    }
}